<div class="preloadJs">
  <img class="image" style="height: 500px; width: 600px"; src="http://img.article.pchome.net/00/44/23/20/pic_lib/wm/2.jpg" alt="">
  <img class="image" style="height: 500px; width: 600px"; src="http://pc.duowan.com/uploads/allimg/2009-11/16101540-6-4K952.jpg" alt="">
  <img class="image" style="height: 500px; width: 600px"; src="http://seopic.699pic.com/photo/50043/9886.jpg_wh1200.jpg" alt="">
  <img class="image" style="height: 500px; width: 600px"; src="https://hbimg.huabanimg.com/1a2bf98921b9ef9c67e98c0869a15bd9aab1e1f34e92-6po7lF_fw658" alt="">
</div>